<h1><%= @place.name %></h1>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Services</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li>Provides LGBTQ sexual health screenings every Wednesday</li>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Ratings</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>

<p>
  <b>Description:</b>
  <%= @place.description %>
</p>

<p>
  <b>Place type:</b>
  <%= @place.place_type %>
</p>

<%= link_to 'Back', home_path, { class: 'btn btn-danger' } %>
