<div class="jumbotron" style="margin-top: 40px">
  <p>Capturing information about LGBTQ* health services</p>
</div>

<input type="hidden" id="latitude"></p>
<input type="hidden" id="longitude"></p>
<div id="results"><img src="http://loadinggif.com/images/image-selection/3.gif"></div>